<footer class=" mt-4">
    <div class="container mt-4">
        <div class="row">
            <div class="col col-12 col-md-4 text-center text-md-start">
                
                <p class="text-secondary"><small>
                    <b>Av. 9 de Julio s/n, C1043 CABA,</b><br>
                    Ciudad De Buenos Aires, Argentina<br>
                    Tel.: 011 3220-7600<br><br>
                    <b>Horarios:</b> <br>
                    Lunes a Viernes de 9 a 17 hs. <br><br>
                    © 2021 Vigilancia Argentina S.A.
                    <br>
                    <a href="mailto:reclamos@vigilanciaargentina.com.ar" title="reclamos@vigilanciaargentina.com.ar" class="text-decoration-none text-secondary">reclamos@vigilanciaargentina.com.ar</a>
                    <br><br>
                </small></p>
            </div>
            <div class="col col-12 col-md-3 text-center text-md-start">
                <ul class="list-unstyled">
                    <li  class="text-secondary"><b>Productos</b></li>
                    <li><a href="/categoria/2" class="text-decoration-none text-secondary"><small>Vigilancia</small></a></li>
                    <li><a href="/categoria/3" class="text-decoration-none text-secondary"><small>Acceso</small></a></li>
                    <li><a href="/categoria/4" class="text-decoration-none text-secondary"><small>Conectividad</small></a></li>
                    <li><a href="/categoria/5" class="text-decoration-none text-secondary"><small>Intrusión</small></a></li>
                    <li><a href="/categoria/6" class="text-decoration-none text-secondary"><small>Portería</small></a></li>
                    <li><a href="/categoria/7" class="text-decoration-none text-secondary"><small>Accesorios</small></a></li>
                </ul>

            </div>
            <div class="col col-12 col-md-3 text-center text-md-start">
                <ul class="list-unstyled">
                    <li class="text-secondary"><b>Sobre nosotros</b></li>
                    <li><a href="/institucional" class="text-decoration-none text-secondary"><small>Institucional</small></a></li>
                    <li><a href="/preguntasFrecuentes" class="text-decoration-none text-secondary"><small>Preguntas Frecuentes</small></a></li>
                    <li><a href="/atencionPersonalizada" class="text-decoration-none text-secondary"><small>Atención Personalizada</small></a></li>
                    <li><a href="/servicioTecnico" class="text-decoration-none text-secondary"><small>Servicio Técnico</small></a></li>
                    <li><a href="/manuales" class="text-decoration-none text-secondary"><small>Manuales, videos y descargas</small></a></li>
                    <li><a href="/garantias" class="text-decoration-none text-secondary"><small>Garantías</small></a></li>
                    <li><a href="/novedades" class="text-decoration-none text-secondary"><small>Novedades</small></a></li>
                    <li></li>
                </ul>
            </div>
            <div class="col col-12 col-md-2 text-start">
                <div class="d-flex justify-content-center justify-content-md-between">
                    <a href="https://www.facebook.com"><i class="h2 mx-4 mx-md-0 text-decoration-none text-primary fab fa-facebook-square"></i></a>
                    <a href="https://twitter.com"><i class="h2 mx-4 mx-md-0 text-decoration-none text-info fab fa-twitter-square"></i></a>
                    <a href="https://www.linkedin.com"><i class="h2 mx-4 mx-md-0 text-decoration-none text-primary fab fa-linkedin"></i></a>
                    <a href="https://whatsapp.com"><i class="h2 mx-4 mx-md-0 text-decoration-none text-success fab fa-whatsapp-square"></i></a>
                </div>
                <br>
                <div>
                    <p><a href="http://www.buenosaires.gob.ar/defensadelconsumidor" class="text-decoration-none text-secondary">Defensa al consumidor</a></p>
                </div>
                <div>
                    <p><a href="/contacto" class="text-decoration-none text-secondary">Contacto</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>