<footer class="mini-footer">
    <p class="mf"><a href="/faq">Check out FAQs</a> | <a href="/contact">Contact us</a> | <a
            href="/privacy-policy">Privacy Policy</a> | <a href="/terms-of-service">Terms of Service</a></p>
    <p class="mf">&copy; 2024 Green Leaf Grocery | All rights reserved.</p>
</footer>